.container{
  display: flex;
  margin: auto;
  box-sizing: content-box;
  width: 1280px;
}

.Partie1{
  display: flex;
  flex-direction: column;
  background-color: #782221;
  align-items: center;
}

.Partie1 img{
display: flex;
border-radius: 70px;
width: 70px;
height: 70px;
cursor: zoom-in;
box-shadow: 0px 0px 20px black;
}

.Partie2{
  display: flex;
  background-color:#2c1d27;
  justify-content: space-around;
  text-decoration: none;
}

.Centre{
  display: flex;
  flex-direction: row;
  justify-content:initial;
}

.centres1{
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
}
.Partie3{
  display: flex;
  flex-direction: column;
  background-color:#782221;
  width: 300px;
}
.Partie4{
  display: flex;
  flex-direction: column;
  background-color:white;
  padding-left: 20px;
  border-right: #2c1d27 solid;
}
.Partie4 h2:hover{
  display: flex;
  background-color: #782221;
  width: 50%;
  padding-right: 10px;
}

.Partie5{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color:#782221;
  
}

.Partie5 img{
  display:flex ;
  width: 70px;
  height: 70px;
  cursor: pointer;
}
.Partie5 img:hover{
  opacity: 0.5;
}

a{
  font-family: "Raleway";
}
a:hover{
  text-decoration: underline;
}

p{
  font-family: "Raleway";
}

h1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #782221;
}

h2{
  display: flex;
  background-color: #dbc2a4;
}
